.sentence {
     background-color: white;
     padding-top: 50px;
     font-size: 250%;
     padding-bottom: 20px;
     float: center;
     text-align: center;
}
.counter{
     background-color: white;
     padding-top: 10px;
     font-size: 100%;
     text-align: center;
     float: center
}
.arrow {
     background-color: white;
     padding-top: 0%;
     float: center;
     padding-bottom: 0%;
     text-align: center;
     width: 1000px;
     display: block;
}
.larrow {
     background-color: white;
     width: 5%;
     padding-top: 0%;
     border: 2px solid black;
     padding-bottom: 0%;
     display: inline-block;
     margin-right: 10%;
     margin-left:27%;
     font-size: 250%;
     position: relative;
}
.rarrow {
     background-color: white;
     width: 5%;
     padding-top: 0%;
     border: 2px solid black;
     padding-bottom: 0%;
     display: inline-block;
     margin-left: 10%;
     margin-right: 27%;
     font-size:250%;
     position: relative;
     
}
.words {
     background-color: white;
     float: center;
     text-align: center;
     width: 1000px;
     display: block;
     background-color: white;
     padding-top: 50px;
     font-size: 250%;
     padding-bottom: 20px;
     float: center;
     text-align: center;
}
.lword {
     background-color: white;
     width: 20%;
     padding-top: 0%;
     padding-bottom: 0%;
     display: inline-block;
     margin-right: 2%;
     margin-left:20%;
     
}
.rword {
     background-color: white;
     width: 20%;
     padding-bottom: 0%;
     display: inline-block;
     margin-left: 2%;
     margin-right: 20%;
     
}

.parent {
	background: gray;
  /* inline-block hack */
  font-size: 0;
  
}

.child {
	width: 800px;
  height: 400px;
  margin: 0 10px;
	background: blue;
  /* inline-block hack */
  display: inline-block;
  font-size: medium;
  text-align: left;
}
