.sentence {
     background-color: white;
     padding-top: 50px;
     clear: both;
     font-size: 250%;
     padding-bottom: 20px;
     center;
}
.counter{
     background-color: white;
     padding-top: 10px;
     clear: both;
     font-size: 100%;
     center;
}
.arrow {
     background-color: white;
     padding-top: 0%;
     float: center;
     font-size: 100%;
     padding-bottom: 0%;
     text-align: center;
     width: 300px;
}
.larrow {
     background-color: white;
     width: 38%;
     padding-top: 0%;
     font-size: 350%;
     border: 2px solid black;
     padding-bottom: 0%;
     display: inline-block;
     margin: 5%;
     
}
.rarrow {
     background-color: white;
     width: 38%;
     padding-top: 0%;
     font-size: 350%;
     border: 2px solid black;
     padding-bottom: 0%;
     display: inline-block;
     margin: 5%;
     
}

.parent {
	background: gray;
  /* inline-block hack */
  font-size: 0;
  
}

.child {
	width: 400px;
  height: 400px;
  margin: 0 10px;
	background: blue;
  /* inline-block hack */
  display: inline-block;
  font-size: medium;
  text-align: left;
}
